<div>
  <div style="text-align:center">
    <input type="text" placeholder="Name" [(ngModel)]="name" *ngIf="name !=null"/>

    <div [ngSwitch]="name" *ngIf="name != null">
      <p *ngSwitchCase="'camiseta'">soy una camiseta</p>
      <p *ngSwitchCase="'example'">soy un ejemplo</p>
      <p *ngSwitchCase="'pantalon'">soy un pantalon</p>
      <p *ngSwitchDefault>no hay valor para la busqueda </p>
    </div>
  </div>

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>

    <input type="text" placeholder="Name" [(ngModel)]="name" />
    <button (click)="addName(name)">Add Name</button>

    <ng-container *ngIf="names.length > 0; else elseTemplate">
      <li style="list-style: none;">
        <ul *ngFor="let name of names, index as i">
          Position: {{ i }} Name: {{name}}
          <button (click)="deleteName(i)">Delete Name</button>
        </ul>
      </li>
    </ng-container>
    <ng-template #elseTemplate>
      <p>Names array is empty</p>
    </ng-template>


    <div *ngFor="let product of products">
      <h3>{{ product.title }}</h3>
      <img [src]="product.image" alt="Product Image" width="200">
      <p>{{ product.price }}</p>
    </div>

  </div>
</div>
